@{
    ViewBag.Title = "QuestionDetails";
}
<a href="~/Home/" id="back" class="btn btn-default hidden " style="margin:50px;margin-bottom:0 !important">back to questionsList</a>
<br />
<img src="~/img/tenor.gif" id="loading" class="hidden" style="margin:50px;width:200px;margin-bottom: !important"></img>
<div class="list-group" style="margin:50px"></div>
@section Scripts{
    <script>
        var url = "https://api.stackexchange.com/2.2/questions/@ViewBag.Id?page=1&pagesize=50&order=desc&sort=creation&site=stackoverflow";
        GetQuestionDetails();
        function GetQuestionDetails() {
            $("#loading").removeClass("hidden");
            $.ajax({
                url: url,
                async: true,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    var li = "";
                    $.each(data.items, function (key, value) {
                        key = key + 1;
                        li += "<div class='well'>" +
                          "<h4 class='mb-1'>No.:" + key +  "</h4>" +
                            "<div class='d-flex w-100 justify-content-between'>" +
                            "<img class='img-rounded' src=" + value.owner.profile_image + " width='40' height='40'/>" +
                            "<h5 class='mb-1'> User: "  + value.owner.display_name + "</h5>" +
                            "<h5 class='mb-1'> Question: " + value.title + "</h5></div>" +
                             "<h5>Number Of Answers : [" + value.answer_count + "]</h5>" + 
                        "<h5>Number Of Views : [" + value.view_count + "]</h5>" +
                         "<h5>Score : [" + value.score + "]</h5>" +
                            "</div>";
                    });
                    $(".list-group").html(li);
                    $("#loading").addClass("hidden");
                    $("#back").removeClass("hidden");
                },
                error: function (error) {
                    $("#loading").addClass("hidden");
                    $(this).remove();
                    alert(error.statusText);
                }
            });
        }
    </script>
}
